.KvPreloaderDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #252525;
    z-index: 99;
}
.KvPreloaderImage{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    /*background-image:url(../img/logo.png); !* this GIF may be your custom one, Here I used a sample *!*/
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}