.KvPreloaderDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #252525;
    z-index: 99;
    opacity: 1;
}
.KvPreloaderImage{
    width: 62%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}
.KvPreloaderImage svg:nth-of-type(1) {
    width: 25%;
    height: 100%;
    float: left;
    transform-origin: 50%;
}
.KvPreloaderImage svg:nth-of-type(2) {
    width: 94%;
    height: 100%;
    float: left;
    margin-left: -20%;
}
.animate{
    -webkit-animation-name: loaderAnimation;
    animation-name: loaderAnimation;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: 46%;
    -ms-transform-origin: 46%;
    transform-origin: 46%;
}

@media screen and (max-width: 1200px) {
    .KvPreloaderImage svg:nth-of-type(2) {
        display: none;
    }
    .KvPreloaderImage svg:nth-of-type(1) {
        width: 100%;
    }
    .KvPreloaderImage {
        width: 30%;
    }
}
/*@media screen and (max-width: 800px) {
    .KvPreloaderImage {
        width: 150%;
        height: auto;
        margin-left: -15%;
    }
}*/
/*@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}*/
@-webkit-keyframes loaderAnimation {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    100% {
        -webkit-transform: rotate(-270deg);
        transform: rotate(-270deg);
    }
}
@keyframes loaderAnimation {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    100% {
        -webkit-transform: rotate(-270deg);
        transform: rotate(-270deg);
    }
}